<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.tendinous.school.ReplyMapper">
	<!-- 게시판 전체 댓글 수 -->
	<select id="selectreply" resultType="int">
		select count(*) from reply where rbnum=#{bnum}
	</select> 
	
	<!-- 게시물 번호에 대한 댓글 정보 -->
	<select id="replylist" resultType="Reply">
		select * from reply where rbnum =#{rbnum} order by rnum desc
	</select>
	
	<!-- 게시물추가 -->
	<insert id="replyadd">
		insert reply(rbnum, rid,rcontent,restep, relevel) values(#{rbnum},#{rid},#{rcontent},#{restep},#{relevel})
	</insert>
</mapper>